html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
/*------------------------------------------------------------------*/
.logo-main {
  fill: #8BC34A;
}
.logo-add {
  fill: #999;
}
/*------------------------------------------------------------------*/
/*------------------------------------General settings-----------------------------------*/
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
h1 {
  color: #333;
  font-size: 30.8px;
  line-height: 63px;
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h1 {
    color: #333;
    font-size: 25.2px;
    line-height: 52.5px;
  }
}
h2 {
  color: #333;
  font-size: 19.6px;
  line-height: 42px;
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h2 {
    color: #333;
    font-size: 16.8px;
    line-height: 42px;
  }
}
h3 {
  color: #8BC34A;
  font-size: 16.8px;
  line-height: 25.2px;
}
p {
  color: #333;
  font-size: 14px;
  line-height: 21px;
}
h1,
h2,
h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
h1,
h2 {
  margin-bottom: 20px;
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h1,
  h2 {
    margin-bottom: 0;
  }
}
a {
  color: #333;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
}
img {
  display: block;
  object-fit: cover;
}
.hidden {
  display: none;
}
/*---------------------------------------Page grid--------------------------------------------*/
.page-wrapper {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.page-wrapper .page-header,
.page-wrapper .page-footer,
.page-wrapper main {
  padding: 0 24px;
  flex: 1 1;
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .page-wrapper .page-header,
  .page-wrapper .page-footer,
  .page-wrapper main {
    padding: 0 10px;
  }
}
.page-wrapper main {
  background-color: #fafafa;
  min-width: 100%;
}
.page-wrapper main .outerContainer {
  width: 100%;
  padding: 40px 0;
}
.page-wrapper main > .outerContainer {
  margin: 106px auto 0 auto;
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .page-wrapper main > .outerContainer {
    padding: 0;
    margin: 45px 0 20px 0;
  }
}
.page-wrapper main > .outerContainer ~ .outerContainer {
  margin: 0;
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .page-wrapper main > .outerContainer {
    border-top: none;
    box-shadow: none;
    margin-bottom: 20px;
  }
}
.page-wrapper.sign-up-page {
  background: url("http://img14.deviantart.net/d72c/i/2014/014/1/0/healthy_cooking_by_samlim-d729cjh.jpg") top no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-origin: border-box;
  background-attachment: fixed;
}
.page-wrapper.sign-up-page main {
  background-color: transparent;
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .page-wrapper.sign-up-page main {
    background-color: #fafafa;
  }
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .page-wrapper.sign-up-page {
    background: none;
  }
}
/*-----------------------------------------Header-----------------------------------------*/
.page-header {
  width: 100%;
  background-color: #fff;
  box-shadow: -4px 8px 6px -2px #ccc;
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.page-header:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8BC34A;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform 0.7s ease-in-out 0.6s;
}
.page-header .logo {
  flex: 0 0 450px;
  margin: auto 0;
  display: flex;
}
.page-header .logo object {
  width: 60px;
  height: 60px;
  margin: auto 0;
  float: left;
  transform: translateX(0);
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out, transform 0.6s ease-in-out 0.7s, margin 0.6s ease-in-out 0.7s;
}
.page-header .logo p {
  color: #333;
  font-size: 42px;
  line-height: 31.5px;
  color: #000;
  font-weight: 700;
  line-height: 110px;
  margin-left: 20px;
  white-space: nowrap;
  transform: translateX(0);
  transition: font-size 0.6s ease-in-out, color 0.2s ease-in-out 0.6s, transform 0.6s ease-out 0.8s;
}
.page-header .logo p span {
  font-weight: 400;
  color: #8BC34A;
  transition: color 0.2s ease-in-out 0.6s;
}
@media screen and (max-width: 1024px), screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .page-header .nav-dropdown {
    position: relative;
    flex: 1 1;
    background-color: #fff;
    transition: background-color 0.58s ease-in-out 0.633s;
  }
  .page-header .nav-dropdown .nav-icon {
    height: 100%;
    position: absolute;
    right: 0;
  }
  .page-header .nav-dropdown .nav-icon a {
    display: block;
    position: relative;
    top: 50%;
    width: 30px;
    height: 3px;
    color: #999;
    background-color: currentColor;
    box-shadow: 0 8px 0 0 currentColor, 0 -8px 0 0 currentColor;
    transform: translateX(0);
    transition: box-shadow 0.3s ease-in-out, transform 0.6s ease-in-out 0.8s;
  }
  .page-header .nav-dropdown .nav-icon:hover {
    cursor: pointer;
  }
  .page-header .nav-dropdown .nav-icon:hover a {
    box-shadow: 0 9px 0 0 currentColor, 0 -9px 0 0 currentColor;
  }
  .page-header .nav-dropdown .nav-icon.clicked a {
    color: #8BC34A;
    box-shadow: 0 9px 0 0 currentColor, 0 -9px 0 0 currentColor;
  }
}
.page-header nav {
  position: relative;
  flex: 1 1;
}
.page-header nav > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: stretch;
}
.page-header nav > ul > li {
  float: right;
  position: relative;
}
.page-header nav > ul > li.hidden {
  display: none;
}
.page-header nav > ul > li > a {
  color: #333;
  font-size: 18.2px;
  line-height: 21px;
  font-variant: small-caps;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  padding: 0 24px;
  border-right: 1px solid;
  color: #000;
  border-color: #eee;
  line-height: 110px;
  transition: line-height 0.6s ease-in-out, font-size 0.4s ease-out, color 0.2s ease-in-out 0.8s;
}
.page-header nav > ul > li:first-of-type {
  border-left: 1px solid;
  border-color: #eee;
}
.page-header nav > ul > li#my-account {
  border-right: 1px solid #eee;
}
.page-header nav > ul > li#my-account img {
  height: 110px;
  padding: 15px 10px;
  border-radius: 50%;
  transition: 0.6s ease-in-out;
}
.page-header nav > ul > li#active-nav-item > a {
  color: #fff;
  background-color: #9ccc65;
  border: none;
  outline: 4px solid #9ccc65;
  box-shadow: 0 0 3px #8BC34A;
  transition: line-height 0.6s ease-in-out, font-size 0.4s ease-out, color 0.2s ease-in-out 0.8s, outline 0.2s ease-in-out 0.8s, background-color 0.2s ease-in-out 0.8s;
}
.page-header nav > ul > li#active-nav-item + li > a {
  border-left: none;
}
.page-header nav > ul > li:not(#active-nav-item) > a:hover {
  opacity: 0.5;
}
.page-header nav > ul > li#my-account:hover .dropdown {
  display: block;
}
.page-header nav .dropdown {
  z-index: 6;
  position: absolute;
  top: 90px;
  right: 10px;
  display: none;
  transition: display 0.4s ease-in-out, top 0.6s ease-in-out;
}
.page-header nav .dropdown li {
  text-align: left;
}
.page-header nav .dropdown li a {
  display: block;
  width: 100%;
  padding: 0 20px;
  min-width: 150px;
  border-bottom: 1px solid;
  font-variant: normal;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 31.5px;
}
.page-header nav .dropdown li a:hover {
  opacity: 0.7;
}
.page-header nav .dropdown li#exit a {
  color: #8BC34A;
}
.page-header nav .dropdown li:last-of-type a {
  border-bottom-width: 0;
}
@media screen and (max-width: 1024px), screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .page-header nav.list {
    position: absolute;
    right: 26px;
    transform: translateY(-300px);
    transition: transform .5s linear;
  }
  .page-header nav.list > ul {
    display: block;
    position: relative;
    background-color: #8BC34A;
    box-shadow: 0 2px 3px #ccc;
  }
  .page-header nav.list > ul > li {
    float: none;
  }
  .page-header nav.list > ul > li > a {
    color: #fff;
    line-height: 40px;
    transition: none;
    border: none;
  }
  .page-header nav.list > ul > li:first-of-type {
    border: none;
  }
  .page-header nav.list > ul > li#my-account img {
    display: none;
  }
  .page-header nav.list > ul > li#active-nav-item > a {
    background-color: #f5f5f5;
    outline: none;
    color: #8BC34A;
    box-shadow: none;
  }
  .page-header nav.list > ul > li .dropdown {
    position: static;
    z-index: 2;
    display: block;
    transition: none;
  }
  .page-header nav.list > ul > li .dropdown li a {
    color: #fff;
    font-size: 18.2px;
    line-height: 21px;
    font-variant: small-caps;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: transparent;
    line-height: 40px;
    padding: 0 24px;
    border-bottom: none;
  }
  .page-header nav.list > ul > li .dropdown li#exit a {
    color: #fff;
    border-top: 1px solid #fff;
  }
  .page-header nav.list.open {
    transform: translateY(110px);
  }
}
.page-header.collapse:before {
  transform: scaleX(1);
}
.page-header.collapse .logo {
  flex: 0 0 150px;
}
.page-header.collapse .logo object {
  margin: 0;
  width: 0;
  height: 0;
  transform: translateX(-900px);
}
.page-header.collapse .logo p {
  color: #333;
  font-size: 23.8px;
  line-height: 42px;
  line-height: 40px;
  transform: translateX(-20px);
}
.page-header.collapse .logo p span {
  color: #fff;
}
@media screen and (max-width: 1024px), screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .page-header.collapse .nav-dropdown {
    background-color: #8BC34A;
  }
  .page-header.collapse .nav-dropdown .nav-icon.clicked a {
    color: #fff;
  }
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .page-header.collapse .nav-dropdown {
    max-width: 40px;
  }
}
.page-header.collapse nav > ul > li > a {
  color: #333;
  font-size: 15.4px;
  line-height: 21px;
  color: #fff;
  line-height: 40px;
}
.page-header.collapse nav > ul > li#my-account img {
  height: 40px;
  padding: 4px 10px;
}
.page-header.collapse nav > ul > li#active-nav-item > a {
  color: #8BC34A;
  background-color: #fff;
  border: none;
  outline: none;
  box-shadow: 0 0 1px #ccc;
}
.page-header.collapse nav .dropdown {
  top: 40px;
}
@media screen and (max-width: 1024px), screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .page-header.collapse nav.list > ul {
    background-color: #fff;
  }
  .page-header.collapse nav.list > ul > li > a {
    color: #333;
    font-size: 18.2px;
    line-height: 21px;
    font-variant: small-caps;
    line-height: 40px;
  }
  .page-header.collapse nav.list > ul > li .dropdown li a {
    color: #333;
  }
  .page-header.collapse nav.list > ul > li .dropdown li#exit a {
    color: #333;
    border-top: 1px solid #eee;
  }
  .page-header.collapse nav.list.open {
    transform: translateY(40px);
  }
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .page-header.collapse nav.list {
    right: 12px;
  }
}
/*-----------------------------------------Footer-------------------------------------------*/
.page-footer {
  display: flex;
  min-height: 50px;
  background-color: #dbdbdb;
}
.page-footer p {
  margin: auto 0;
  color: #333;
  font-size: 14px;
  line-height: 21px;
  flex: 1 1;
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .page-footer p {
    display: none;
  }
}
.page-footer .language {
  list-style: none;
  margin: auto;
}
.page-footer .language li {
  display: inline-block;
  padding-left: 10px;
}
.page-footer .language li a {
  color: #8BC34A;
  font-size: 14px;
  line-height: 21px;
  text-decoration: underline;
}
.page-footer .language li#current-lang a {
  color: #333;
  text-decoration: none;
  cursor: text;
}
.page-footer .language li:first-of-type {
  padding-right: 10px;
  border-right: 1px solid #eee;
}
.sign-up-page .page-footer {
  background: none;
  border-top: 1px solid #8BC34A;
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .sign-up-page .page-footer {
    background-color: #dbdbdb;
    border-top: none;
  }
}
/*----------------------------------------Toast--------------------------------------------*/
.toast {
  width: 100%;
  padding: 16px 50px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 5px #ccc;
  z-index: 10;
  position: fixed;
  top: 110px;
  left: 0;
  display: none;
  transition: top 0.6s ease-in-out;
}
.toast p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15.4px;
  line-height: 21px;
}
.toast.collapse {
  top: 40px;
}
/*--------------------------------------To top-------------------------------------------*/
.scroll-up {
  width: 16px;
  height: 16px;
  position: fixed;
  bottom: 60px;
  right: 40px;
  margin: 0;
  display: none;
  cursor: pointer;
}
.scroll-up::after {
  content: '';
  width: 16px;
  height: 16px;
  border: 4px solid #999;
  border-radius: 4px;
  border-left-width: 0;
  border-bottom-width: 0;
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  right: 0;
  -webkit-filter: drop-shadow(-8px 8px 0 #999);
  filter: drop-shadow(-8px 8px 0 #999);
}
.scroll-up:hover::after {
  transform: rotate(-45deg) scale(1.2);
}
.scroll-up:hover:lang(en)::before {
  content: 'To top';
  display: block;
  min-width: 50px;
  padding: 0 10px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #333333;
  border-radius: 2px;
  background-color: #666;
  position: absolute;
  top: 0;
  left: -100px;
  color: #fff;
  font-size: 12.6px;
  line-height: 21px;
}
.scroll-up:hover:lang(uk)::before {
  content: 'Догори';
  display: block;
  min-width: 50px;
  padding: 0 10px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #333333;
  border-radius: 2px;
  background-color: #666;
  position: absolute;
  top: 0;
  left: -100px;
  color: #fff;
  font-size: 12.6px;
  line-height: 21px;
}
.slider {
  height: 540px;
  overflow: hidden;
  position: relative;
  top: 106px;
  display: flex;
  flex-flow: column nowrap;
}
.slider .slide {
  display: none;
  flex: 1 1;
}
.slider .slide img {
  position: relative;
  left: -260px;
}
.slider .slide p {
  color: #333;
  font-size: 50.4px;
  line-height: 63px;
  text-align: center;
  position: absolute;
  top: 220px;
  right: 96px;
}
.slider .slide p span {
  color: #8BC34A;
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  .slider .slide p {
    display: none;
  }
}
.slider .slideNav {
  position: absolute;
  top: 50%;
}
.slider .slideNav.next {
  right: 36px;
}
.slider .slideNav.next::before {
  content: '';
  width: 24px;
  height: 24px;
  border: 5px solid #cccccc;
  border-radius: 4px;
  border-left-width: 0;
  border-bottom-width: 0;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
}
.slider .slideNav.next:hover:lang(en)::after {
  content: 'Next';
  display: block;
  min-width: 50px;
  padding: 0 10px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #333333;
  border-radius: 2px;
  background-color: #666;
  position: absolute;
  top: 45px;
  left: -70px;
  color: #fff;
  font-size: 12.6px;
  line-height: 21px;
}
.slider .slideNav.next:hover:lang(uk)::after {
  content: 'Наступний';
  display: block;
  min-width: 50px;
  padding: 0 10px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #333333;
  border-radius: 2px;
  background-color: #666;
  position: absolute;
  top: 45px;
  left: -80px;
  color: #fff;
  font-size: 12.6px;
  line-height: 21px;
}
.slider .slideNav.prev {
  left: 36px;
}
.slider .slideNav.prev::before {
  content: '';
  width: 24px;
  height: 24px;
  border: 5px solid #cccccc;
  border-radius: 4px;
  border-left-width: 0;
  border-bottom-width: 0;
  transform: rotate(-135deg);
  position: absolute;
  top: 0;
  right: -36px;
}
.slider .slideNav.prev:hover:lang(en)::after {
  content: 'Prev';
  display: block;
  min-width: 50px;
  padding: 0 10px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #333333;
  border-radius: 2px;
  background-color: #666;
  position: absolute;
  top: 45px;
  left: -50%;
  color: #fff;
  font-size: 12.6px;
  line-height: 21px;
}
.slider .slideNav.prev:hover:lang(uk)::after {
  content: 'Попередній';
  display: block;
  min-width: 50px;
  padding: 0 10px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #333333;
  border-radius: 2px;
  background-color: #666;
  position: absolute;
  top: 45px;
  left: -50%;
  color: #fff;
  font-size: 12.6px;
  line-height: 21px;
}
.slider .slideNav.next:hover::before,
.slider .slideNav.prev:hover::before {
  border-color: #8BC34A;
}
.slider .slideNav.next:active::before,
.slider .slideNav.prev:active::before {
  border-color: #bcdc97;
}
.slider .dots-list {
  position: absolute;
  bottom: 8px;
  right: 90px;
}
.slider .dots-list li {
  display: inline;
  margin: 0 5px;
  cursor: pointer;
}
.slider .dots-list li .dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #cccccc;
  display: inline-block;
}
.slider .dots-list li .dot:hover {
  background-color: #999;
}
.slider .dots-list li .dot.dotActive {
  background-color: #8BC34A;
}
.slider .dots-list li span {
  display: none;
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .slider {
    display: none;
  }
}
/*----------------------------------------Home -> What's new--------------------------------------------------*/
.whats-new {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.whats-new .content {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.whats-new .content figure {
  position: relative;
  flex: 1 1 220px;
  overflow: hidden;
}
.whats-new .content figure:not(:last-of-type) {
  margin-right: 2%;
}
.whats-new .content figure img {
  width: 100%;
  height: 100%;
  -webkit-filter: saturate(0.7);
  filter: saturate(0.7);
}
.whats-new .content figure figcaption {
  width: 100%;
  padding: 10px;
  bottom: 0;
  text-align: center;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
}
.whats-new .content figure figcaption h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.whats-new .content figure:hover img {
  -webkit-filter: saturate(1);
  filter: saturate(1);
  transform: scale(1.05);
  transition: transform 0.2s ease-in;
}
.whats-new .content figure:hover figcaption {
  background: rgba(255, 255, 255, 0.7);
}
.whats-new .content figure:hover figcaption h3::after {
  content: attr(data-description);
  display: block;
  color: #333;
  font-size: 12.6px;
  line-height: 21px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  .whats-new .content {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .whats-new .content figure {
    flex: 0 1 49%;
  }
  .whats-new .content figure:not(:last-of-type) {
    margin-right: 0;
  }
  .whats-new .content figure:nth-of-type(odd) {
    margin-right: 2%;
  }
  .whats-new .content figure:nth-last-of-type(n+3) {
    margin-bottom: 2%;
  }
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .whats-new .content {
    flex-direction: column;
  }
  .whats-new .content figure {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
    box-shadow: 0 0 1px #999;
  }
}
/*----------------------------------------Home -> Kid's kichen/We offer-----------------------------------------*/
.home-differents {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.home-differents .kids-kichen,
.home-differents .we-offer {
  min-width: 300px;
  position: relative;
  flex: 1 1;
}
.home-differents .kids-kichen figure,
.home-differents .we-offer figure {
  border-bottom: 1px solid #eee;
  padding: 24px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.home-differents .kids-kichen figure img,
.home-differents .we-offer figure img {
  width: 210px;
  height: 160px;
  margin-right: 30px;
  border-radius: 100px 100px 20% 0.4% 50px 50% 50%;
  -webkit-filter: saturate(0.8);
  filter: saturate(0.8);
  transition: border-radius 0.2s;
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  .home-differents .kids-kichen figure img,
  .home-differents .we-offer figure img {
    display: none;
  }
}
.home-differents .kids-kichen figure figcaption,
.home-differents .we-offer figure figcaption {
  flex: 1 2;
}
.home-differents .kids-kichen figure figcaption h3,
.home-differents .we-offer figure figcaption h3 {
  margin-bottom: 10px;
}
.home-differents .kids-kichen figure:hover,
.home-differents .we-offer figure:hover {
  background-color: #f5f5f5;
}
.home-differents .kids-kichen figure:hover a,
.home-differents .we-offer figure:hover a {
  color: #8BC34A;
  text-decoration: underline;
}
.home-differents .kids-kichen figure:hover img,
.home-differents .we-offer figure:hover img {
  border-radius: 50% 0%;
  -webkit-filter: saturate(1);
  filter: saturate(1);
  transform: scale(1.05);
  transition: transform 0.2s ease-in;
}
.home-differents .kids-kichen {
  margin-right: 60px;
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .home-differents {
    flex-flow: column wrap;
  }
  .home-differents .kids-kichen {
    margin-bottom: 40px;
  }
  .home-differents .kids-kichen,
  .home-differents .we-offer {
    width: 100%;
    margin-right: 0;
  }
  .home-differents .kids-kichen figure,
  .home-differents .we-offer figure {
    flex-direction: column;
  }
  .home-differents .kids-kichen figure img,
  .home-differents .we-offer figure img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .home-differents .kids-kichen figure:hover img,
  .home-differents .we-offer figure:hover img {
    border-radius: 0;
    transform: none;
    transition: none;
  }
}
/*-----------------------------------------------News--------------------------------------------------*/
.news-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.news-container .hot-news {
  flex: 1 1;
}
.news-container .hot-news figure {
  position: relative;
  padding: 24px 24px 24px 0;
}
.news-container .hot-news figure:nth-last-of-type(n+2) {
  border-bottom: 1px solid #eee;
}
.news-container .hot-news figure:first-of-type::before {
  content: ' ';
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, #8BC34A 20%, #f5f5f5 60%, #fff 100%);
  position: absolute;
  top: 0;
}
.news-container .hot-news figure img {
  width: 240px;
  height: 155px;
  float: left;
  box-shadow: 0 4px 5px #ccc;
  transform: scale(0.9) translateX(-10px);
  transition: transform 0.6s ease-out;
}
.news-container .hot-news figure figcaption header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}
.news-container .hot-news figure figcaption header h3 {
  flex: 1 1;
  min-width: 300px;
  margin: 0 20px 0 0;
}
.news-container .hot-news figure figcaption header p {
  color: #e5e5e5;
  text-align: right;
}
.news-container .hot-news figure figcaption p {
  max-height: 7.4em;
  overflow: hidden;
}
.news-container .hot-news figure:hover {
  background-color: #f5f5f5;
}
.news-container .hot-news figure:hover img {
  transform: scale(0.75) rotate(-10deg);
  box-shadow: -2px 2px 5px 2px #8BC34A, -20px -35px 2px #ccc, 20px -15px 2px #8cc44c;
}
.news-container .week-news {
  margin-left: 5%;
  flex: 0 1 400px;
  max-width: 400px;
}
.news-container .week-news figure:nth-last-of-type(n+2) {
  padding-bottom: 30px;
}
.news-container .week-news figure:hover a {
  text-decoration: underline;
  color: #8BC34A;
}
.news-container .week-news figure .calendar {
  width: 60px;
  float: left;
  position: relative;
}
.news-container .week-news figure .calendar p {
  width: 100%;
  color: #8BC34A;
  font-size: 23.8px;
  line-height: 33.6px;
  display: block;
  text-align: center;
  position: absolute;
  top: 15px;
}
.news-container .week-news figure .calendar p span {
  color: #333;
  font-size: 11.2px;
  line-height: 14.7px;
  width: 100%;
  display: block;
  text-align: center;
  position: absolute;
}
.news-container .week-news figure .calendar + figcaption {
  margin-left: 80px;
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  .news-container .week-news {
    display: none;
  }
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .news-container {
    flex-direction: column;
  }
  .news-container .hot-news figure {
    padding: 10px 0;
  }
  .news-container .hot-news figure img {
    display: none;
  }
  .news-container .hot-news figure figcaption header h3 {
    margin-right: 0;
  }
  .news-container .hot-news figure:last-of-type {
    padding-bottom: 0;
  }
  .news-container .week-news {
    display: none;
  }
}
/*--------------------------------------------Resipes--------------------------------------------------*/
.best-recipe {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.best-recipe .content {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.best-recipe .content .card {
  flex: 0 1 32%;
  position: relative;
  box-shadow: 0 2px 2px #ccc;
  -webkit-filter: contrast(75%);
  filter: contrast(75%);
}
.best-recipe .content .card:not(:nth-last-of-type(-n+2)) {
  margin-bottom: 24px;
}
.best-recipe .content .card:not(:nth-of-type(3n)) {
  margin-right: 2%;
}
.best-recipe .content .card figure {
  width: 100%;
}
.best-recipe .content .card figure img {
  width: 100%;
  height: 100%;
}
.best-recipe .content .card figure figcaption {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 16px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
}
.best-recipe .content .card figure figcaption p {
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.best-recipe .content .card:hover {
  box-shadow: 0 4px 5px #ccc;
}
.best-recipe .content .card:hover figcaption {
  display: none;
}
.best-recipe .content .card:hover .best-recipe-details {
  display: flex;
  flex-flow: column nowrap;
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  .best-recipe .content .card {
    flex: 0 1 49%;
  }
  .best-recipe .content .card:not(:nth-of-type(3n-3)) {
    margin-right: 0;
  }
  .best-recipe .content .card:nth-of-type(odd) {
    margin-right: 2%;
  }
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .best-recipe .content {
    flex-flow: column wrap;
  }
  .best-recipe .content .card {
    width: 100%;
    margin-right: 0;
  }
  .best-recipe .content .card:nth-last-of-type(n+3) {
    margin-bottom: 0;
  }
  .best-recipe .content .card:nth-last-of-type(n+2) {
    margin-bottom: 20px;
  }
  .best-recipe .content .card:hover figcaption {
    display: block;
  }
  .best-recipe .content .card:hover .best-recipe-details {
    display: none;
  }
}
.best-recipe-details {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 20px 12px 20px;
  position: absolute;
  top: 0;
  display: none;
}
.best-recipe-details header h3 {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #8BC34A;
}
.best-recipe-details .recipe-details-content {
  padding: 5px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.35);
  flex: 1 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 0;
  overflow-y: auto;
}
.best-recipe-details .recipe-details-content .ingredients {
  flex: 1 1 100%;
  display: table;
  border-collapse: collapse;
  width: 100%;
}
.best-recipe-details .recipe-details-content .ingredients .row {
  display: table-row;
}
.best-recipe-details .recipe-details-content .ingredients .row div {
  display: table-cell;
  padding: 5px 15px;
  color: #333;
  font-size: 14px;
  line-height: 16.8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.best-recipe-details .recipe-details-content .ingredients .row div:first-child {
  border-right: 1px solid #fff;
  padding-left: 0;
}
.best-recipe-details .recipe-prep-time {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-weight: 700;
  margin: 15px 0;
  position: relative;
}
.best-recipe-details .recipe-prep-time div {
  flex: 1 0;
  overflow: hidden;
}
.best-recipe-details .recipe-prep-time div:last-child {
  margin-left: 20px;
  text-align: right;
}
.best-recipe-details .recipe-prep-time div p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.best-recipe-details .button-container {
  margin-top: auto;
  position: relative;
  bottom: 0;
}
.best-recipe-details .button-container .resipe-rating {
  display: inline-block;
  float: left;
  position: relative;
  padding-top: 5px;
  margin-left: 30px;
}
.best-recipe-details .button-container .resipe-rating:hover {
  font-weight: 700;
}
.best-recipe-details .button-container .resipe-rating::before {
  content: ' ';
  width: 24px;
  height: 24px;
  background: url('../images/star.svg') no-repeat;
  position: absolute;
  left: -30px;
}
.best-recipe-details .button-container .preparation a {
  color: #8BC34A;
  text-transform: uppercase;
  padding: 5px;
  float: right;
  display: inline-block;
  position: relative;
}
.best-recipe-details .button-container .preparation a::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #8BC34A;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transform: translateY(6px);
  transition: opacity 0.3s, transform 0.3s;
}
.best-recipe-details .button-container .preparation a:hover::after {
  transform: translateY(0);
  opacity: 1;
}
.best-recipe-details .button-container .preparation a:active::after {
  background-color: #bcdc97;
}
.best-recipe-details .button-container .preparation a::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #8BC34A;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(-6px);
  transition: opacity 0.3s, transform 0.3s;
}
.best-recipe-details .button-container .preparation a:hover::before {
  transform: translateY(0);
  opacity: 1;
}
.best-recipe-details .button-container .preparation a:active::before {
  background-color: #bcdc97;
}
.best-recipe-details .button-container .preparation a:active {
  color: #bcdc97;
}
/*----------------------------------------------Blog--------------------------------------------------*/
.blog-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.blog-container .blog {
  margin-right: 7%;
  flex: 1 1;
}
.blog-container .blog article {
  padding: 24px 0;
}
.blog-container .blog article:nth-last-of-type(n+2) {
  border-bottom: 1px solid #eee;
}
.blog-container .blog article:first-of-type {
  padding-top: 0;
}
.blog-container .blog article:last-of-type {
  padding-bottom: 0;
}
.blog-container .blog article header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.blog-container .blog article header h3 {
  flex: 1 1;
  min-width: 300px;
  margin: 0 20px 0 0;
}
.blog-container .blog article header p {
  color: #e5e5e5;
  text-align: right;
}
.blog-container .blog article figure {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.blog-container .blog article figure img {
  width: 300px;
  height: 200px;
  margin-right: 20px;
}
.blog-container .blog article figure figcaption {
  flex: 1 1;
}
.blog-container .blog-categories {
  flex: 0 0 250px;
  padding-left: 30px;
}
.blog-container .blog-categories article:nth-of-type(n+2) {
  margin-top: 40px;
}
.blog-container .blog-categories article a {
  color: #8BC34A;
  font-size: 15.4px;
  line-height: 31.5px;
  display: inline-block;
  position: relative;
}
.blog-container .blog-categories article a::before {
  content: '';
  width: 5px;
  height: 5px;
  border: 2px solid #999;
  border-radius: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  transform: rotate(45deg);
  position: absolute;
  top: 11px;
  right: 100%;
  -webkit-filter: drop-shadow(-4px 4px 0 #999);
  filter: drop-shadow(-4px 4px 0 #999);
  margin-right: 10px;
}
.blog-container .blog-categories article a:hover {
  color: #333;
}
.blog-container .blog-categories article a:active {
  color: #b3b3b3;
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  .blog-container .blog-categories {
    display: none;
  }
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .blog-container {
    flex-direction: column;
  }
  .blog-container .blog {
    margin-right: 0;
  }
  .blog-container .blog article header h3 {
    margin-right: 0;
  }
  .blog-container .blog article figure {
    flex-direction: column;
  }
  .blog-container .blog article figure img {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .blog-container .blog-categories {
    display: none;
  }
}
/*-------------------------------------------Contacts--------------------------------------------------*/
.contacts-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.contacts-container .contact-map {
  flex: 1 1;
  margin-right: 5%;
}
.contacts-container .contact-map .map {
  width: 100%;
  height: 340px;
}
.contacts-container .contact-map .map .marker-details {
  min-width: 200px;
  max-width: 300px;
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
}
.contacts-container .contact-map .map .marker-details a {
  color: #8BC34A;
  text-decoration: underline;
}
.contacts-container .mail-us {
  flex: 1 1;
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  .contacts-container {
    flex-direction: column;
  }
  .contacts-container .contact-map {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .contacts-container .contact-map .map {
    height: 360px;
  }
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .contacts-container {
    flex-direction: column;
  }
  .contacts-container .contact-map {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .contacts-container .contact-map .map {
    height: 260px;
  }
}
/*----------------------------------------------Links "Read more"-------------------------------------------------*/
.more-icon a {
  color: #8BC34A;
  font-size: 14px;
  line-height: 42px;
  display: inline-block;
  position: relative;
}
.more-icon a::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #8BC34A;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transform: translateY(6px);
  transition: opacity 0.3s, transform 0.3s;
}
.more-icon a:hover::after {
  transform: translateY(0);
  opacity: 1;
}
.more-icon a:active::after {
  background-color: #bcdc97;
}
.more-icon a::before {
  content: '';
  width: 5px;
  height: 5px;
  border: 2px solid #999;
  border-radius: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  transform: rotate(45deg);
  position: absolute;
  top: 19px;
  right: -15px;
  -webkit-filter: drop-shadow(-4px 4px 0 #999);
  filter: drop-shadow(-4px 4px 0 #999);
  border-color: #999;
}
.more-icon a:active {
  color: #bcdc97;
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .more-icon {
    text-align: center;
    margin-top: 10px;
  }
  .more-icon a {
    width: 100%;
    border-bottom: 1px solid #eee;
    background-color: #f2f2f2;
  }
  .more-icon a::before {
    display: none;
  }
}
input,
textarea {
  width: 100%;
  border: 1px solid #999;
  border-radius: 2px;
  padding: 8px;
  margin: 10px 5px 0 0;
  outline-style: none;
  color: #333;
  font-size: 14px;
  line-height: 21px;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-style: italic;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  font-style: italic;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-style: italic;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-style: italic;
}
input:focus,
textarea:focus {
  border: 2px solid #8BC34A;
}
input.error,
textarea.error {
  border: 1px solid #F44336;
}
input {
  min-width: 100px;
}
textarea {
  min-width: 200px;
  min-height: 70px;
  overflow: auto;
  resize: vertical;
}
.error_msg {
  color: #F44336;
  font-size: 11.2px;
  line-height: 21px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/*------------------------Custom checkbox and radiobutton----------------------------*/
input[type="checkbox"],
input[type="radio"] {
  display: none;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  margin-left: -6px;
  position: relative;
  cursor: pointer;
}
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  content: '';
  width: 12px;
  height: 12px;
  border: 2px solid #999;
  margin: 0 10px 0 20px;
  display: inline-block;
  position: relative;
  top: 2px;
}
input[type="radio"] + label::before {
  border-radius: 50%;
  transition: .2s ease;
}
input[type="radio"]:checked + label::before {
  border-color: #7eb73d;
  box-shadow: inset 0 0 0 2px #edf6e3, inset 0 0 0 6px #8BC34A;
}
input[type="checkbox"] + label::before {
  border-radius: 2px;
}
input[type="checkbox"]:checked + label::before {
  width: 16px;
  height: 4px;
  border-top-style: none;
  border-right-style: none;
  border-width: 3px;
  border-color: #7eb73d;
  transform: rotate(-405deg) translateX(8px);
  transition: transform 0.2s cubic-bezier(0.17, 0.67, 1, 0.75);
}
.checkbox-container {
  height: 16px;
}
/*---------------------------------Custom select-------------------------------------*/
.select {
  position: relative;
}
.select .select-value {
  cursor: pointer;
}
.select::after {
  content: '';
  width: 20px;
  height: 20px;
  background: linear-gradient(45deg, #999 5px, transparent 5px) no-repeat;
  transform: rotate(-45deg);
  position: absolute;
  top: 8px;
  right: 2%;
  cursor: pointer;
}
.select ul {
  width: 100%;
  max-height: 140px;
  background: #fff;
  position: absolute;
  overflow-y: auto;
  display: none;
  z-index: 1;
}
.select ul li {
  color: #333;
  font-size: 14px;
  line-height: 21px;
  border-bottom: 1px solid #eee;
  border-radius: 0;
  padding: 5px 10px;
  cursor: pointer;
}
.select ul li:hover {
  background-color: #eee;
}
.select.open .select-value {
  color: #8BC34A;
  border-bottom: 1px solid #8BC34A;
}
.select.open::after {
  transform: rotate(135deg);
  top: 31px;
}
.select.open ul {
  box-shadow: 0 4px 5px #ccc;
}
/*-------------------------------Custom button--------------------------------------*/
button {
  color: #333;
  font-size: 14px;
  line-height: 21px;
  min-width: 100px;
  height: 36px;
  padding: 0 24px;
  outline-style: none;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px #ccc;
  cursor: pointer;
  margin-top: 15px;
}
button:nth-last-of-type(n+2) {
  margin-right: 24px;
}
button:hover {
  box-shadow: 0 4px 5px #ccc;
}
button:focus {
  outline: 2px solid #8BC34A;
  outline-offset: 2px;
}
button[type="submit"] {
  color: #fff;
  background-color: #8BC34A;
}
button[type="submit"]:hover {
  background-color: #97c95d;
}
button[type="submit"]:active {
  background-color: #7eb73d;
  outline: none;
}
button[type="reset"] {
  color: #333;
  background-color: #cccccc;
}
button[type="reset"]:hover {
  background-color: #d9d9d9;
}
button[type="reset"]:active {
  background-color: #bfbfbf;
  outline: none;
}
button::-moz-focus-inner {
  border: none;
  padding: 0;
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  button {
    width: 100%;
  }
}
/*--------------Upload file button---------------*/
.upload {
  width: 100%;
  min-width: 180px;
  position: relative;
}
.upload:hover {
  box-shadow: 0 4px 5px #ccc;
}
.upload button {
  width: 100%;
  position: absolute;
  top: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.upload input[type="file"] {
  width: 100%;
  opacity: 0;
  margin: 0;
  position: absolute;
  top: 12px;
  cursor: pointer;
}
/*----------------------------------------------*/
.button-container {
  width: 100%;
  position: relative;
}
/*------------------------------------------Floating panel--------------------------------------------*/
.floating-toolbar {
  position: fixed;
  top: 120px;
  right: 24px;
  z-index: 1;
  transition: top 0.6s ease-in-out;
}
.floating-toolbar li {
  display: inline-block;
}
.floating-toolbar li a {
  display: block;
  text-align: center;
  padding: 0 20px;
  min-width: 100px;
  color: #fff;
  font-size: 14px;
  line-height: 35.7px;
  background: #ebebeb;
}
.floating-toolbar li a:hover {
  background-color: #ababab;
}
.floating-toolbar li a:active {
  background-color: #b8b8b8;
}
.floating-toolbar li#show-log-in.clicked a {
  background-color: #b8b8b8;
}
.floating-toolbar.collapse {
  top: 50px;
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .floating-toolbar {
    transition: 0.6s ease-in-out;
  }
  html:lang(en) .floating-toolbar {
    transform: rotate(90deg) translate(220px, -90px);
  }
  html:lang(uk) .floating-toolbar {
    transform: rotate(90deg) translate(250px, -115px);
  }
}
/*--------------------------------------------Log in-----------------------------------------------*/
#log-in-form {
  width: 320px;
  position: fixed;
  top: 128px;
  right: 24px;
  z-index: 1;
  transform: translateX(450px);
  transition: transform .3s ease;
  background-color: #b8b8b8;
  padding: 20px;
  margin: 30px auto;
}
#log-in-form #login {
  background: #fff url('../images/log-in.svg') no-repeat 5px 50%;
}
#log-in-form #pass,
#log-in-form #nacked_pass {
  background: #fff url('../images/lock.svg') no-repeat 5px 50%;
}
#log-in-form #login,
#log-in-form #pass,
#log-in-form #nacked_pass {
  padding-left: 30px;
  background-size: 18px;
}
#log-in-form .show-pass {
  float: right;
  margin-top: 25px;
}
#log-in-form.collapse {
  top: 58px;
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #log-in-form.collapse {
    width: 290px;
  }
  #log-in-form.collapse .show-pass {
    display: none;
  }
  html:lang(en) #log-in-form.collapse {
    top: 156px;
    right: 57px;
  }
  html:lang(uk) #log-in-form.collapse {
    top: 158px;
    right: 60px;
  }
}
#log-in-form.open {
  transform: translateX(0);
}
/*--------------------------------------------Sign up-----------------------------------------------*/
#sign-up-form {
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
#sign-up-form .content {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}
#sign-up-form .content .personal {
  flex: 1 1;
  margin-right: 5%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: stretch;
}
#sign-up-form .content .personal div:first-child input {
  margin-top: 0;
}
#sign-up-form .content .personal .inline-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 10px;
}
#sign-up-form .content .personal .inline-field .age {
  flex: 1 1;
}
#sign-up-form .content .personal .inline-field .gender {
  padding-top: 10px;
  flex: 0 0 200px;
}
#sign-up-form .content .personal .inline-field .show-pass {
  margin-top: 10px;
  flex: 0 0 180px;
}
#sign-up-form .content .avatar #files {
  width: 180px;
  height: 180px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px dashed #999;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
#sign-up-form .content .avatar #files img {
  width: 160px;
  height: 160px;
}
#sign-up-form .content .avatar p {
  display: block;
  width: 100%;
  margin-top: 10px;
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  #sign-up-form {
    width: 100%;
  }
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #sign-up-form {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  #sign-up-form .content {
    flex-flow: column wrap;
  }
  #sign-up-form .content .personal {
    margin-right: 0;
  }
  #sign-up-form .content .avatar {
    display: none;
  }
  #sign-up-form .about-me {
    display: none;
  }
}
/*--------------------------------------------contacts-----------------------------------------------*/
#contact-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
#contact-form .inline-fields {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#contact-form .inline-fields div {
  flex: 1 1 30%;
  margin-right: 20px;
}
#contact-form .inline-fields div:nth-of-type(3n+3) {
  margin-right: 0;
}
@media screen and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #contact-form .inline-fields {
    flex-direction: column;
  }
  #contact-form .inline-fields div {
    margin-right: 0;
  }
}
#contact-form textarea {
  min-height: 140px;
  resize: none;
}
/*------------------------------------------------------------------*/
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}
.clearfix::after {
  clear: both;
}
/*------------------------------------------------------------------*/
.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
.placeholder::-webkit-input-placeholder {
  font-style: italic;
}
.placeholder::-moz-placeholder {
  font-style: italic;
}
.placeholder:-moz-placeholder {
  font-style: italic;
}
.placeholder:-ms-input-placeholder {
  font-style: italic;
}
.placeholder::-ms-input-placeholder {
  font-style: italic;
}
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
.link-underline-up::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #8BC34A;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transform: translateY(6px);
  transition: opacity 0.3s, transform 0.3s;
}
.link-underline-up:hover::after {
  transform: translateY(0);
  opacity: 1;
}
.link-underline-up:active::after {
  background-color: #bcdc97;
}
.link-underline-down::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #8BC34A;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(-6px);
  transition: opacity 0.3s, transform 0.3s;
}
.link-underline-down:hover::before {
  transform: translateY(0);
  opacity: 1;
}
.link-underline-down:active::before {
  background-color: #bcdc97;
}
/*# sourceMappingURL=common.css.map */